@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  margin: 0;
  min-height: 100vh;
  /* background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #f7fdff 20%,
    #e7fbff 55%,
    #c9f6ff 80%,
    #8fefff 100%
  ); */
  background-color: #4D5156;
}

.containerCalculator {
  border: 5px solid #ffffff;
  background-color: #313131;
  padding: 10px 5px 30px 5px;
  margin: 20px auto;
  border-radius: 15px;
  max-width: 340px;
  width: 95%;
}

.button {
  background-color: #4B4B4B;
  color: #ffffff;
  width: 70px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  padding: 0;
  margin: 0 3px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.operator {
  color: #4dc722;
  background-color: #DDF1E8;
}

.clear {
  color: #ff4c00;
  background-color: #fcd1d1;
}

.delete {
  color: #ff4c00;
  background-color: #fcd1d1;
}

.equals {
    color: #ffffff;
    background-color: #76ff45;
}

.row {
  margin: 8px 0;
}

.row input {
  width: 94%;
  height: 60px;
  font-size: 25px;
  text-align: right;
  margin: 0px 10px;
  padding: 10px 8px 10px 80px;
  border: 2px solid #ffffff;
  border-radius: 10px;
  caret-color: orange;
  box-sizing: border-box;
}

.textCenter {
  color: #ffffff;
  text-align: center;
}

.mx-auto {
  margin: auto;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

@media (max-width: 480px) {
  .containerCalculator {
    width: 95%;
    padding: 10px;
  }

  .button {
    width: 60px;
    height: 45px;
    font-size: 18px;
    margin: 3px;
  }

  .row input {
    font-size: 18px;
    padding: 10px;
  }
}

@media (max-width: 360px) {
  .button {
    width: 50px;
    height: 42px;
    font-size: 16px;
  }

  .row input {
    font-size: 16px;
  }
}
